sudo: false
language: ruby
cache: bundler
before_install:
  - gem install bundler -v '~> 2'
rvm:
  - 2.4.9
  - 2.5.7
  - 2.6.5
  - 2.7.0
  - ruby-head
env:
  - RAILS_VERSION='~> 3.2'
  - RAILS_VERSION='~> 4.0'
  - RAILS_VERSION='~> 4.1'
  - RAILS_VERSION='~> 4.2'
  - RAILS_VERSION='~> 5.0'
  - RAILS_VERSION='~> 5.1'
  - RAILS_VERSION='~> 5.2'
jobs:
  exclude:
    - rvm: 2.7.0
      env: RAILS_VERSION='~> 3.2'
    - rvm: 2.7.0
      env: RAILS_VERSION='~> 4.0'
    - rvm: 2.7.0
      env: RAILS_VERSION='~> 4.1'
    - rvm: 2.7.0
      env: RAILS_VERSION='~> 4.2'
    - rvm: ruby-head
      env: RAILS_VERSION='~> 3.2'
    - rvm: ruby-head
      env: RAILS_VERSION='~> 4.0'
    - rvm: ruby-head
      env: RAILS_VERSION='~> 4.1'
    - rvm: ruby-head
      env: RAILS_VERSION='~> 4.2'
  allow_failures:
    - rvm: ruby-head
  fast_finish: true
